hr {
    margin: 50vh auto;
    border-color: transparent !important;
}

h1 {
    margin-bottom: 25vh;
}

h2 {
    padding-top: 2rem;
}

body {
    margin-bottom: 50vh;
    font-size: 3rem;
}

code {
    padding: 0.2rem;
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.458);
    color: rgb(180, 24, 107);
}
